/* default: white background, sans serif font */
body {
    font-family:Arial,Helvetica;
    background-color:white;
}

/* subsection titles for the parameter area */
h3 {
    color: #000055;
    font-size:14px;
}

/* region to display an error */
#error { 
    color:white; 
    font-weight:bold; 
    background-color:red; 
    display:none; 
}

/* canvas to perform 2d graphcis */
#drawing_area {
    float:left;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
}

.w3c { min-height: 500px; position: relative; width: 100%; }
.w3c > div { display: inline; }
.w3c > div > a { margin-left: -1px; position: relative; left: 1px; text-decoration: none; color: black; background: white; display: block; float: left; padding: 5px 10px; border: 1px solid #ccc; border-bottom: 1px solid white; }
.w3c > div:not(:target) > a { border-bottom: 0; background: -moz-linear-gradient(top, white, #eee); }
.w3c > div:target > a { background: white; }
.w3c > div > div { background: white; z-index: -2; left: 0; top: 30px; bottom: 0; right: 0; padding: 10px; border: 1px solid #ccc; }
.w3c > div:not(:target) > div { position: absolute }
.w3c > div:target > div { position: absolute; z-index: 1; }


/* container to display editable parameters */
#param_area {
    float:left;
    height:500px;
    border-width:1px;
    border-style: dashed;
    border-color: #c3c3c3;
    text-align:left;
}

#param_area .form-group{
    margin: 10px 0;
}

#param_area #panel-fields .form-group{
    display:none;
}

#param_area .form-group label {
    display:inline-block;
    width:100px;
}

#param_area .form-group input {
    display:inline-block;
    width:80px;
}

#param_area .form-group input[type='checkbox']{
    width:0;
}

#param_area .form-group input.long-input {
    width: 180px;
}

#param_area button.btndelete {
    position: absolute;
    left:10px;
    bottom: 10px;
}

#kd-tree .form-group label{
    display: block;
    width:180px;
    margin:10px 0;
}